<div class="content">
  <%= form_tag studios_path, class: "form-horizontal", method: :get do %>
    <fieldset>
      <div class="form-group">
        <%= select '', :area, grouped_options_for_select(Area.all.group_by(&:prefecture).each{|area| area[1].map! {|x| [x.city, x.slug]}}), {prompt: 'エリア'}, {class: 'form-control input-lg'} %>
      </div>
      <div class="form-group">
        <%= select '', :people, People::LABELS.map{ |k,v| [v, k]}, {prompt: '人数'}, {class: 'form-control input-lg'} %>
      </div>
      <div class="form-group">
        <%= button_tag '探す', class: 'btn-lg btn-info center', type: :submit %>
      </div>
    </fieldset>
  <% end %>
</div>
