// A studio box in the studio index page
.studio-box {
  margin-bottom: 24px;
  color: #3E3F3A;
  .left {
    height: 140px;
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
      height: auto;
      width: 100%;
      top: 45%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
  .right {
    margin: 0 0 24px 0;
    padding: 0;
    position: relative;
    .studio-button {
      width: 92%;
      margin: 8px auto;
      text-align: center;
    }
  }
  // FIXME remove later
  .bottom {
    position: absolute;
    bottom: 4px;
    right: 8px;
  }
  // FIXME remove later
  ul {
    padding-left: 8px;
    li {
      font-size: medium;
      list-style: none;
    }
  }
}

// Whole studio recommend area
div.recommend {
  margin: 40px 4px 10px 4px;
  .recommend-more-info {
    margin-bottom: 50px;
  }
}

// A unit of 3 studio recommend boxes
div.recommend-block {
  display: inline-block;
  width: 100%;
}

// A studio recommend box
.recommend-block-each {
  padding: 0px 15px;
}
