// Image in the studio recommend area
img.recommend {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// A set of image & price in the studio recommend area
.recommend-img {
  height: 140px;
  position: relative;
}
