// List area in the studio detail page
.p-studio-detail-list {
  min-width: 320px;
  margin: 20px auto;
  padding: 0px 4%;
  text-align: center;
  @media only screen and (max-width: 800px) {
    width: 80%;
  }
  @media only screen and (min-width: 800px) {
    width: 50%;
    margin-left: 50%;
  }
  .p-studio-list {
    text-align: left;
  }
}
