// GoogleMapの地図表示
.studio-googlemap {
  text-align: center;
  margin: 4% 0%;
  width: 100%;
    @media only screen and (max-width: 800px) {
        height: 621px;
    }
    @media only screen and (min-width: 800px) {
        height: 540px;
    }
}
