// Studio name in the studio index page & studio recommend area
div.studio-name {
   margin: 8px 0px;
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-align: left;
}
