// Adjust margin in the studio recommend blocks
.p-station--recommend {
    text-align: left;
    font-size: small;
    margin: 8px 0px;
}

.p-station {
    text-align: left;
    font-size: small;
}


