// More info & tell area in the studio detail page
.c-studio-detail-btn-box {
  min-width: 320px;
  margin: 20px auto;
  padding: 0px 4%;
  text-align: center;
  @media only screen and (max-width: 800px) {
    width: 80%;
  }
  @media only screen and (min-width: 800px) {
    width: 50%;
  }
}

// Button for launching map app
.c-btn--app {
  display: inline-block;
  border: 1px solid #DFD7CA;
  border-radius: 3px;
  padding: 6px;
  font-size: 11px;
  line-height: 1;
  font-weight: bold;
}
