@import "bootstrap-sprockets";

// Import sandstone variables
@import "bootswatch/sandstone/variables";
@import "bootstrap-custom";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
//@import "bootswatch/sandstone/bootswatch";

@import "font-awesome";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
* {
  font-family: 'Noto Sans Japanese', Meiryo, 'Noto Sans', Calibri, 'Open Sans', sans-serif;
}

a {
  color: #888;
  text-decoration: none;
  &:hover {
    color: #888;
    text-decoration: none;
  }
}

div.studio-box {
  margin-bottom: 24px;
  color: #3E3F3A;
  .left {
    height: 180px;
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
      height: auto;
      width: 100%;
      top: 45%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
  .right {
    margin: 0 0 24px 0;
    padding: 0;
    position: relative;
    div.studio-name {
      margin: 8px 0;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    div.station {
      font-size: small;
    }
    div.studio-button {
      width: 92%;
      margin: 8px auto;
      text-align: center;
    }
  }
  .bottom {
    position: absolute;
    bottom: 4px;
    right: 8px;
  }
  ul {
    padding-left: 8px;
    li {
      font-size: medium;
      list-style: none;
    }
  }
}

div.hit-count {
  margin: 8px 15px;
  font-size: large;
}

button {
  .center {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
}

div.col-xs-12.col-sm-4.panel.panel-info {
  padding-left: 0;
  padding-right: 0;
}

p.right { text-align: right;}
.smaller { font-size: x-small; }

div.footer-copyright {
  background-color: #3E3F3A;
  color: #FFFFFF;
  text-align: center;
  padding: 40px 0;
}

#infscr-loading {
  img {
    display: block;
    margin: 10px auto;
  }
  div {
    text-align: center;
  }
}

div.studio-detail {
  max-width: 480px;
  margin: 0 auto 20px auto;
}

div.studio-detail-top {
  width: 100%;
  overflow: hidden;
  text-align: center;
  img {
    width: 100%;
  }
}

div.studio-detail-description {
  margin: 4% 20px;
}

div.studio-detail-list {
  padding: 4% 24px;
  text-align: center;
  p.studio-list {
    text-align: left;
  }
}

.fa-phone:before { color: white; }

// Import each page css
@import "studios"
