@import "bootstrap-sprockets";

// Import sandstone variables
@import "bootswatch/sandstone/variables";
@import "bootstrap-custom";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
//@import "bootswatch/sandstone/bootswatch";

@import "font-awesome";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
* {
  font-family: 'Noto Sans Japanese', Meiryo, 'Noto Sans', Calibri, 'Open Sans', sans-serif;
}

a {
  color: #888;
  text-decoration: none;
  &:hover {
    color: #888;
    text-decoration: none;
  }
}

div.studio-box {
  margin-bottom: 24px;
  color: #484848;
  .left {
    height: 180px;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .right {
    margin: 0 0 24px 0;
    padding: 0;
    position: relative;
    div.studio-name {
      margin: 8px 0;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    div.station {
      font-size: small;
    }
    div.studio-button {
      width: 92%;
      margin: 8px auto;
      text-align: center;
    }
  }
  .bottom {
    position: absolute;
    bottom: 4px;
    right: 8px;
  }
  ul {
    padding-left: 8px;
    li {
      font-size: medium;
      list-style: none;
    }
  }
}

div.hit-count {
  margin: 8px auto;
  font-size: large;
}

button {
  .center {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
}

div.col-xs-12.col-sm-4.panel.panel-info {
  padding-left: 0;
  padding-right: 0;
}

p.right {
  text-align: right;
  font-size: smaller;
}

div.footer-copyright {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  margin-top: 20px;
  padding: 20px 0;
}

#infscr-loading {
  img {
    display: block;
    margin: 10px auto;
  }
  div {
    text-align: center;
  }
}
