@import "bootstrap-sprockets";

// Import sandstone variables
@import "bootswatch/sandstone/variables";
@import "bootstrap-custom";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/sandstone/bootswatch";

a {
  color: #888;
  text-decoration: none;
  &:hover {
    color: #888;
    text-decoration: none;
  }
}

div.studio-box {
  &:hover { @include opacity(0.6);}
  &:active { @include opacity(0.6);}
  .left {
    height: 216px;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .right {
    margin: 0 0 8px 0;
    height: 216px;
    position: relative;
    padding: 0;
  }
  .bottom {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
  ul {
    padding-left: 8px;
    li {
      font-size: medium;
      list-style: none;
    }
  }
}

div.hit-count {
  margin: 8px auto;
  font-size: large;
}

button.center {
  display: block;
  width: 60%;
  margin: 0 auto;
}

div.col-xs-12.col-sm-4.panel.panel-info {
  padding-left: 0;
  padding-right: 0;
}

p.right { text-align: right; }

div.footer-copyright {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  margin: 40px 0 0 0;
}

