@import "bootstrap-sprockets";

// Import cyborg variables
@import "bootswatch/cyborg/variables";
@import "bootstrap-custom";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/cyborg/bootswatch";

div.studio-box {
  margin-bottom: 20px;
  .left { float: left; }
}
