// Place all the styles related to the studios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.price_unit {
  color: white;
  position: absolute;
  background-color: black;
  bottom: 0;
  right: 12px;
  padding: 4px 8px;
}

.col3 {
  @media screen and (min-width: 768px) {
    width: 33%;
    float: left;
  }
  text-align: center;
}

div.recommend {
  margin: 40px 4px 10px 4px;
  p.recommend-more-info {
    margin-bottom: 50px;
  }
}

img.recommend {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  div {
    div.recommend {
      div {
        div:nth-child(1) {
          div:nth-child(3) {
            font-size: small;
            margin: 8px 0px;
          }
        }
      }
    }
  }
}

body {
  div {
    div.recommend {
      div {
        div:nth-child(2) {
          div:nth-child(3) {
            font-size: small;
            margin: 8px 0px;
          }
        }
      }
    }
  }
}

body {
  div {
    div.recommend {
      div {
        div:nth-child(3) {
          div:nth-child(3) {
            font-size: small;
            margin: 8px 0px;
          }
        }
      }
    }   
  }
}

div.studio-name {
   margin: 8px 0px;
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-align: left;
}

.fa-chevron-circle-right {
  font-family: FontAwesome;
  font-style: normal;
}

div.recommend-block {
  display: inline-block;
  width: 100%;
}

div.recommend-block-each {
  padding: 0px 15px;
}

div.recommend-img {
  height: 140px;
  position: relative;
}

