// Place all the styles related to the studios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.price_unit {
  color: white;
  position: absolute;
  background-color: black;
  bottom: 0;
  right: 12px;
  padding: 4px 8px;
}

.col3 {
  @media screen and (min-width: 768px) {
    width: 33%;
    float: left;
  }
  text-align: center;
}

div.recommend {
  margin: 20px;
}

img.recommend {
  width: 84%;
  height: 100%;
  object-fit: cover;
}
