// Place all the styles related to the studios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// スタジオ画像上の価格表示
.price_unit {
  color: white;
  position: absolute;
  background-color: black;
  bottom: 0;
  right: 12px;
  padding: 4px 8px;
}

// bootstrapのcol3カスタマイズ
.col3 {
  @media screen and (min-width: 768px) {
    width: 33%;
    float: left;
  }
  text-align: center;
}

// スタジオレコメンド全体
div.recommend {
  margin: 40px 4px 10px 4px;
  p.recommend-more-info {
    margin-bottom: 50px;
  }
}

// スタジオレコメンド画像カスタマイズ
img.recommend {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// スタジオレコメンド個別マージン調整
body {
  div {
    div.recommend {
      div {
        div:nth-child(1) {
          div:nth-child(3) {
            font-size: small;
            margin: 8px 0px;
          }
        }
      }
    }
  }
}

body {
  div {
    div.recommend {
      div {
        div:nth-child(2) {
          div:nth-child(3) {
            font-size: small;
            margin: 8px 0px;
          }
        }
      }
    }
  }
}

body {
  div {
    div.recommend {
      div {
        div:nth-child(3) {
          div:nth-child(3) {
            font-size: small;
            margin: 8px 0px;
          }
        }
      }
    }   
  }
}

// スタジオ一覧,スタジオレコメンド　スタジオ名
div.studio-name {
   margin: 8px 0px;
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-align: left;
}

// fontawesome 詳細はこちら＞
.fa-chevron-circle-right {
  font-family: FontAwesome;
  font-style: normal;
}

// スタジオレコメンド3つまとめて
div.recommend-block {
  display: inline-block;
  width: 100%;
}

// スタジオレコメンド1つずつ
div.recommend-block-each {
  padding: 0px 15px;
}

// スタジオレコメンド画像と価格表示
div.recommend-img {
  height: 140px;
  position: relative;
}

// レコメンド文言の改行指定(pタグ)
.p-recommend__description {
  word-break: keep-all;
  text-align: center;
}

// レコメンド文言の改行指定(spanタグ)
.u-display-inlineblock {
  display: inline-block;
}

.studio-googlemap {
  text-align: center;
  margin: 4% 0%;
  width: 100%;
    @media only screen and (max-width: 800px) {
        height: 621px;
    }
    @media only screen and (min-width: 800px) {
        height: 540px;
    }
}
