// Import Bootstrap
@import "bootstrap-sprockets";

// Import sandstone variables Bootswatch
@import "bootswatch/sandstone/variables";

// Import _bootstrap-custom.scss
@import "bootstrap-custom";

// Bootstrap body padding for fixed navbar
body { padding-top: 50px; }

// And finally bootswatch style itself
@import "bootswatch/sandstone/bootswatch";

// Import Noto Fonts
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
* {
  font-family: 'Noto Sans Japanese', Meiryo, 'Noto Sans', Calibri, 'Open Sans', sans-serif;
}

// Content area in the top page
div.content {
  width: 100%;
  background-image: image-url("top.jpg");
  background-size: cover;
  padding-top: 12%;
  padding-bottom: 12%;
}

// Form tag in the top page
form.form-horizontal {
  width: 60%;
  margin: 0 auto;
}

// Footer copyright
div.footer-copyright {
  background-color: #3E3F3A;
  color: #FFFFFF;
  text-align: center;
  padding: 40px 0;
}

// Search button
button.center {
  display: block;
  width: 60%;
  margin: 0 auto;
}

// ad-area class 該当なし？
// FIXME remove later
div.ad-area {
  margin: 20px auto;
  div.ad-box3 {
    margin: 20px auto;
    img {
      margin: 0 auto;
      display: block;
    }
  }
}
