<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="p-hit-count"><%= @studios.total_count %>件がヒットしました</div>
    <div id="studios" class="col-xs-12 col-sm-12">
      <div class="page">
        <%= render @studios %>
      </div>
      <%= paginate @studios %>
    </div>
  </div>
</div>
